venv/
env/

__pycache__/
*.py[cod]
*$py.class

db.sqlite3

media/

staticfiles/

.env
*.log

.DS_Store
Thumbs.db


# --- Docker ---
.docker/
docker-compose.override.yml

# --- IDE и редакторы ---
.idea/
.vscode/
*.swp
*.swo
*~

# --- Python ---
*.egg-info/
.installed.cfg
.Python
build/
dist/

# --- OS ---
ehthumbs.db
Desktop.ini